<!-- 
 * This file is part of the ros_openvino package (https://github.com/gbr1/ros_openvino or http://gbr1.github.io).
 * Copyright (c) 2019 Giovanni di Dio Bruno.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

    <!--
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
    </include>
    -->

    <arg name="input_image_topic" default="/d435_2/color/image_raw"/>
    <arg name="input_depth_topic" default="/d435_2/aligned_depth_to_color/image_raw"/>
    <arg name="camera_info_topic" default="/d435_2/aligned_depth_to_color/camera_info"/>
    <arg name="frame_id" default="/d435_2_aligned_depth_to_color_frame"/>
    <arg name="find_specific_target" default="true"/>
    <arg name="specific_target" default="person"/>

    <node name="object_detection" pkg="ros_openvino" type="object_detection" output="screen">
        <remap from="/object_detection/input_image" to="$(arg input_image_topic)" />
	    <remap from="/object_detection/input_depth" to="$(arg input_depth_topic)" />
        <remap from="/object_detection/camera_info" to="$(arg camera_info_topic)" />

        <param name="threshold"         value="0.75" />
        <param name="target"            value="MYRIAD" />
        <param name="model_network"     value="$(find ros_openvino)/models/FP16/mobilenet-ssd/mobilenet-ssd.xml" />
        <param name="model_weights"     value="$(find ros_openvino)/models/FP16/mobilenet-ssd/mobilenet-ssd.bin" />
        <param name="model_labels"      value="$(find ros_openvino)/models/FP16/mobilenet-ssd/mobilenet-ssd.labels" />
        <param name="model_colors"      value="$(find ros_openvino)/models/FP16/mobilenet-ssd/mobilenet-ssd.colors" />
        <param name="output_as_image"   value="true" />
        <param name="output_as_list"    value="true" />
        <param name="depth_analysis"    value= "true" />
        <param name="output_as_markers" value="true" />
        <param name="find_specific_target"  value="$(arg find_specific_target)"/>
        <param name="specific_target"   value="$(arg specific_target)"/>
	    <!--param name="frame_id" value="/d435_link" /--> 
        <param name="frame_id" value="$(arg frame_id)" />
        <param name="output_as_makerslabel" value="true" />
        <param name="output_as_boxlist" value="false" />
    </node>

    <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_openvino)/rviz/demo.rviz" /-->

</launch>
